* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    color: rgb(22, 84, 137);
}

.navbar {
    background-color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navlogo {
    font-size: 32px;
    padding: 0.5em;
    font-weight: bold;

}

li {
    display: inline-block;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
    font-size: 14px;
    font-weight: bold;
}

.hero {
    background-color:rgb(244, 196, 138);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: auto;
    padding: 3em;
}

.image-container {
    border: 2px solid rgb(222, 146, 16);
    box-shadow: 10px 10px 5px 10px  rgb(113, 61, 15);
    border-radius: 10%;

}

img {
    height: 300px;
    width: auto;
    padding: 0.5em;
    border-radius: 10%;
}

h4 {
    font-weight: bold;
    font-size: 24px;
}

h1 {
    font-weight: bold;
    font-size: 42px;
}

.me {
    padding: 2px;
}
button {
    padding: 5px;
    margin: 10px;
    font-size: 18px;
    font-weight: 100;
    border-radius: 10px;
}